<suite name="TestNG - Suite for tests without WebDriver" verbose="0" allow-return-values="true">
   <parameter name="param1"  value="Parveen"/>
 
  <test name="InsertionClasses testing" preserve-order="true">
    <classes>
      <class name="p1.Methodrun_testNG"/>
      
      <class name="p1.Methodrun_testNG2">
        <methods>
          <include name="met5" />
        
          
        </methods>
      </class>
    </classes>
  </test>
  
  <test name="Get Classes testing" preserve-order="true">
    <classes>
      <class name="p1.Methodrun_testNG3"/>
          <class name="p1.Methodrun_testNG3"/>
          </classes>
  </test>
  
  
</suite>
